#drop-target.html5 {
  border: 2px dashed rgba(128, 128, 128, 0.4);
  color: rgba(128, 128, 128, 0.5);
  display: block;
  padding: 2em 1em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin: 1em 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#drop-target.html5.dragenter {
  background-color: rgba(0, 255, 255, 0.050000000000000044);
  border-color: #808080;
  color: #808080;
  content: 'test';
}

.image-preview {
	position: relative;
}

.delete-image {
	top: 5px;
	right: 5px;
	position: absolute;
	color: #fff;
	text-decoration: none;
}

.thumb {
	padding: 0!important; 
	margin: 0 0 0 0!important;
}

.load-icon {
	text-align: center; 
	width: 100%!important;
}

.load-icon .fa {
	 margin-top: 25px;
}

.loading-img {	
	display: table-cell;
    vertical-align: middle;
}

.loading-img .image-preview {
	height: 85px!important; 
	width: 100%!important;
}

.image-preview:hover .fa-trash-o {
	color: #f0f0f0;
	text-decoration: none;
}

.uploaded-image {
	margin: 0px; 
	width: 100%; 
}